.places {
    display: block;
}

.places h1 {
    padding: 0 2%;
}

article {
    display: inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places article:nth-child(4) {
    display: block;
    margin: 20px auto;
}

article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}
